[submodule "pager-indicator-library"]
	path = pager-indicator-library
	url = https://github.com/Asya/Android-ViewPagerIndicator.git
[submodule "android-swipelistview"]
	path = android-swipelistview
	url = https://github.com/Asya/android-swipelistview.git
