[submodule "pager-indicator-library"]
	path = pager-indicator-library
	url = git@github.com:Asya/Android-ViewPagerIndicator.git
[submodule "android-swipelistview"]
	path = android-swipelistview
	url = git@github.com:Asya/android-swipelistview.git
